/* GENERAL STYLES */

* {
  font-family: 'Open sans', sans-serif;
}

body {
  background-color:#ecf0f1;
}

#clearBlog {
  float:right;
  margin-top:20px;
  margin-right:20px;
  font-weight:bold;
}

/* CREATE POST STYLES */

.create-post {
  border-bottom: 3px solid #3498db;
  background-color:#fff;
  padding:10px 40px 15px 40px;
  border-radius:10px;
  margin-bottom:60px;
  margin-top:50px;
  -webkit-box-shadow: 0px 11px 37px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 37px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 37px -13px rgba(0,0,0,0.75);
}

.create-post h1 {
  font-family: 'Lobster', cursive;
  font-size:60px;
}

.create-post input {
  margin-bottom:10px;
}

.create-post textarea {
  width:100%;
  resize:none;
  height:80px;
}

.create-post .post-button {
  float:right;
  margin-top:20px;
  font-weight:bold;
}

.create-post:after {
  content:"";
  display: block;
  clear: both;
}

/* POST */

.post {
  background:#fff;
  margin-top:20px;
  padding:10px 40px 15px 40px;
  border-radius: 10px;
  margin-bottom:45px;
  border-bottom:3px solid #1abc9c;
  -webkit-box-shadow: 0px 11px 37px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 37px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 37px -13px rgba(0,0,0,0.75);
}

.post-title h2 {
  font-weight:bold;
}

.post-author {
  float:left;
  font-style:italic;
  color:#95a5a6;
}

.post-date {
  float:right;
  font-style:italic;
  color:#95a5a6;
}

.post-content {
  clear:both;
  margin-top:20px;
}

/* COMMENTS */

.post-comments {
  background:#fff;
}

.post-comments:after {
  content: '';
  display: block;
  clear: both;
}

.post-comments h4 {
  font-weight:bold;
}

.post-comments input, .post-comments textarea, .post-comments label {
  display:block;
}

.post-comments input {
  margin-bottom:10px;
}

.post-comments textarea {
  width:100%;
  resize:none;
}

.comments {
  margin-bottom:20px;
}

.comment {
  border-left:2px solid #1abc9c;
  border-bottom:1px solid #ecf0f1;
  background-color: #f2f2f2;
  padding-left:20px;
  padding-bottom:15px;
  padding-top:15px;
  margin-bottom:15px;
}

.comment-add {
  background-color:#1abc9c;
  color:#fff;
  font-weight: bold;
  margin-top:15px;
  float:right;
}

.comment-add:hover, .comment-add:focus {
  color:#fff;
  background:#159d82;
}

.comment-data span {
  font-size:12px;
  font-style:italic;
}
