<form class="comment-form">
    <label for="">Your name:</label>
    <input type="text" class="form-control comment-author" name="author" id="comment-author-{{post-id}}" placeholder="Author"
           required>
    <label for="">Comment:</label>
    <textarea class="form-control comment-text" name="content" placeholder="Write your comment here"></textarea>
    <input type="submit" class="btn comment-add" value="Add">
</form>
