<form id="post-form" name="post-form">
    <label for="title">Post title:</label>
    <input type="text" class="form-control" name="title" id="title" placeholder="Title" required>
    <label for="author">Your Name:</label>
    <input type="text" class="form-control" name="author" id="author" placeholder="Author" required>
    <label for="content">Write your post here:</label>
    <textarea id="content" class="control" name="content" placeholder="Content" required></textarea>
    <input id="add-post" type="submit" class="btn btn-primary post-button" value="Post">
</form>
