<div class="comment">
    <div class="comment-content">{{content}}</div>
    <div class="comment-data">
        <span class="author">By: {{author}}</span>
        <span class="date">at {{date}}</span>
    </div>
</div>
